/* ページ全体の設定 */
.container {
    background-color: #f8f8f8;
    max-width: 800px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* ヘッダー（大見出し）のスタイル設定 */
h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

/*  ラベルのフォントサイズを20pxに設定 */
label {
    font-size: 20px;
}

/* 未完了のヘッダー */
.no-complete {
    color: red;
}

/* 完了のヘッダー */
.complete {
    color:green;
}

/* ボタンのスタイル */
.button, .shift-button, .amount-button{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
}

.shift-button {
    background-color: green;
}

.amount-button {
    background-color: rgb(251, 163, 0);
}

/* 新規作成ボタンのスタイル */
a.button {
    display: block;
    width: 200px;
}

/* 完了・戻すボタンのスタイル */
.complete-button, .uncomplete-button,.delete-button {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


.uncomplete-button {
    background-color: blue;
}

.delete-button {
    background-color: red;
}


/* 課題一覧・完了した課題一覧のスタイル */
/* リストのスタイルを設定 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* div要素のスタイル */
div {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

/* 段落のフォントサイズを20pxに設定 */
p {
    font-size: 20px;
}

.text-input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
}

.big-button, .return-button, .add-button {
    font-size: 24px;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #45a049;
}

.return-button {
    background-color: skyblue;
}

.add-button {
    background-color: blue;
}



