{% extends "base.html" %}

{% block title %}
    <h1>WTForm：結果</h1>
{% endblock %}

{% block content %}
    <ul>
        <li>{{ form.GoalAmount.data }}</li>
        <li>{{ form.AchievementDay.data }}</li>

        <li><p>時給時間帯</p></li>
        <p>通常開始{{ form.NormalStart.data }}   通常終了{{ form.NormalEnd.data }}   夜間開始{{ form.NightStart.data }}   夜間終了{{ form.NightEnd.data }}   深夜開始{{ form.MidnightStart.data }}   深夜終了{{ form.MidnightEnd.data }}</p>

        <li><p>時給</p></li>
        <p>平日 {{ form.WeekdayNormalTimeWage.data }}  {{ form.WeekdayNightTimeWage.data }}  {{ form.WeekdayMidnightTimeWage.data }}</p>
        <p>土日祝 {{ form.HolidayNormalTimeWage.data }}  {{ form.HolidayNightTimeWage.data }}  {{ form.HolidayMidnightTimeWage.data }}</p>
        
    </ul>
{% endblock %}

