{% extends "base.html" %}

{% block title %}
    <h1>WTForm：結果</h1>
{% endblock %}

{% block content %}
    <ul>
        <li>{{ form.GoalAmount.data }}</li>
        <li>{{ form.AchievementDay.data }}</li>
        <li><p>時給</p></li>
        <p>平日 {{ form.WeekdayNormalTimeWage.data }}  {{ form.WeekdayNightTimeWage.data }}  {{ form.WeekdayMidnightTimeWage.data }}</p>
        <p>土日祝 {{ form.HolidayNormalTimeWage.data }}  {{ form.HolidayNightTimeWage.data }}  {{ form.HolidayMidnightTimeWage.data }}</p>
        
    </ul>
{% endblock %}

