<!DOCTYPE html>
<html>
<head>
    <title>Shift List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('new_shift') }}" class="button">新規シフト</a>
        <hr>
        <h2 class="no-complete">未完了：シフト一覧</h2>
        <ul>
            {% for shift in uncompleted_shifts %}
            <div>
                <p>{{ shift.ShiftDay }}</p>
                <form method="post" action="{{ url_for('complete_shift', shift_id=shift.ShiftID) }}" style="display:inline;">
                    <button type="submit" class="complete-button">完了</button>
                </form>
                <form method="post" action="{{ url_for('delete_shift', shift_id=shift.ShiftID) }}" style="display:inline;">
                    <button type="submit" class="delete-button">削除</button>
                </form>

                    
            </div>
            {% endfor %}
        </ul>
        <hr>
        <h2 class="complete">完了：シフト一覧</h2>
        <ul>
            {% for shift in completed_shifts %}
            <div>
                <p>{{ shift.ShiftDay }} </p>
                <form method="post" action="{{ url_for('uncomplete_shift', shift_id=shift.ShiftID) }}">
                    <button type="submit" class="uncomplete-button">戻す</button>
                </form>
            </div>
            {% endfor %}
        </ul>
    </div>
</body>
</html>