{% extends "base.html" %}

{% block title %}
    <h1>シフト新規登録</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    
        {% if form.errors %}
            <ul>
            === エラーメッセージ ===
            {% for k, v in form.errors.items() %}
                <li>{{k}}:{{v}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    
    
    <form method="POST">
        {{ form.ShiftDay.label }}{{ form.ShiftDay() }}<br>
        <p>時間帯</p>
        {{ form.StartTime.label }}{{ form.StartTime() }}<br>
        {{ form.EndTime.label }}{{ form.EndTime() }}<br>
        {{ form.BreakStartTime.label }}{{ form.BreakStartTime() }}<br>
        {{ form.BreakEndTime.label }}{{ form.BreakEndTime() }}<br>
        {{ form.DayType.label }}{{ form.DayType() }}<br>
       
        <input type="submit" value="追加" class="add-button"> <a href="{{ url_for('home') }}" class="return-button">戻る</a>
    </form>

{% endblock %}