{% extends "base.html" %}

{% block title %}
    <h1>初期設定</h1>
{% endblock %}

{% block content %}
    <div style="color: red;">
        {% if form.errors %}
            <ul>
            === エラーメッセージ ===
            {% for k, v in form.errors.items() %}
                <li>{{k}}:{{v}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <form method="POST">
        {{ form.GoalAmount.label }}{{ form.GoalAmount() }}<br>
        {{ form.AchievementDay.label }}{{ form.AchievementDay() }}<br>
        
        {{ form.submit() }}
    </form>
{% endblock %}