{% extends "base.html" %}

{% block title %}
    <h1>目標設定</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    
        {% if form.errors %}
            <ul>
            === エラーメッセージ ===
            {% for k, v in form.errors.items() %}
                <li>{{k}}:{{v}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    
    
    <form method="POST">
        {{ form.GoalAmount.label }}{{ form.GoalAmount() }}<br>
        {{ form.AchievementDay.label }}{{ form.AchievementDay() }}<br>
        
        {{ form.submit(class_="big-button") }}  <a href="{{ url_for('home') }}" class="return-button">戻る</a>
    </form>

    
{% endblock %}