{% extends "base.html" %}

{% block title %}
    <h1>時給設定</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    
        {% if form.errors %}
            <ul>
            === エラーメッセージ ===
            {% for k, v in form.errors.items() %}
                <li>{{k}}:{{v}}</li>
            {% endfor %}
            </ul>
        {% endif %}

    
    <form method="POST">
        <p>時給時間帯</p>
        <p>{{ form.NormalStart.label }}{{ form.NormalStart() }}   {{ form.NormalEnd.label }}{{ form.NormalEnd() }}<br>   
           {{ form.NightStart.label }}{{ form.NightStart() }}   {{ form.NightEnd.label }}{{ form.NightEnd() }}<br>
           {{ form.MidnightStart.label }}{{ form.MidnightStart() }}   {{ form.MidnightEnd.label }}{{ form.MidnightEnd() }}</p>

        <p>時給</p>
        <p>平日 {{ form.WeekdayNormalTimeWage.label }}{{ form.WeekdayNormalTimeWage() }}  {{ form.WeekdayNightTimeWage.label }}{{ form.WeekdayNightTimeWage() }}  {{ form.WeekdayMidnightTimeWage.label }}{{ form.WeekdayMidnightTimeWage() }}</p>
        <p>土日祝 {{ form.HolidayNormalTimeWage.label }}{{ form.HolidayNormalTimeWage() }}  {{ form.HolidayNightTimeWage.label }}{{ form.HolidayNightTimeWage() }}  {{ form.HolidayMidnightTimeWage.label }}{{ form.HolidayMidnightTimeWage() }}</p>
        
        {{ form.submit(class_="big-button") }}  <a href="{{ url_for('home') }}" class="return-button">戻る</a>
    </form>
    
{% endblock %}